@import "var.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.block__body_all {
  display: grid;
  background: $background--color;
}

.block__body__excursions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background--color;
}

.block__body__excursions__details {
  margin-top: 15px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

figure.card {
  position: relative;
  width: 300px;
  height: 410px;
  background-image: var(--image-src);
  background-position: 50% 50%;
  background-size: 125%;
  transition: background 400ms ease;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.03),
    0 22.3px 17.9px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  &:hover {
    figcaption {
      transform: translateY(0px);
    }
  }

  &--1 {
    &:hover {
      background-position: 50% 100%;
    }
    figcaption {
      bottom: 0;
      transform: translateY(80px);
    }
  }
  &--2 {
    background-size: 110%;
    &:hover {
      background-position: 50% -100%;
    }
    figcaption {
      top: 0;
      transform: translateY(-80px);
    }
  }
  &--3 {
    background-size: 115%;
    &:hover {
      background-position: -100% 50%;
    }
    figcaption {
      left: 0;
      transform: translateX(-180px);
    }
  }
  &--4 {
    &:hover {
      background-position: 100% 50%;
    }
    figcaption {
      right: 0;
      transform: translateX(180px);
    }
  }

  &--1,
  &--2 {
    figcaption {
      width: 100%;
      height: 80px;
      padding: 15px 20px;
    }
  }
  &--3,
  &--4 {
    figcaption {
      flex-direction: column;
      width: 180px;
      height: 100%;
      padding: 20px 15px;
    }
  }

  figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: #282828;
    transition: transform 400ms ease;
    .block__info {
      color: $color--white;
      font-family: $font--family;
      h3 {
        font-size: 0.8rem;
        margin-top: 0.5%;
        margin-bottom: 1px;
        color: $color--font;
      }
      span {
        color: $color--white;
        font-size: 0.8rem;
      }
      p {
        margin-top: 7%;
        margin-left: 0%;
        text-align: left;
        font-size: 0.8rem;
        color: $color--white;
      }
    }
  }
}

.btn {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: $color--white;
  background-color: $background--btn;
  border: none;
  font-family: $font--family;
}
.btn:hover {
  background-color: #1b1919;
}
.btn:focus {
  outline: 1px dashed $color--font;
  outline-offset: 3px;
}

@media only screen and (max-width: 900px) {
  .block__body__excursions {
    align-items: start;
  }
  .block__body__excursions__details {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 80px 0;
  }
}
