body {
  margin: 0;
}

.logo img {
  margin-top: 7px;
  width: 150px;
  height: auto;
  margin-left: 70px;
  background-color: #ffffff;
}

.fiestas {
  top: 15px;
  position: relative;
  background-color: #ffffff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contenedor_total {
  display: grid;
}

.banner img {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: none;
}
.banner_party img {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: none;
}
.parties img {
  width: 350px;
  height: 400px;
  margin-top: 0px;
  border-radius: 6px;
  margin: 15px;
}

.parties img:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.caja3 {
  border: 2px #000 solid;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 15px;
}
.caja4 {
  border: 2px #000 solid;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 15px;
}

label {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}
.formulario {
  display: flex;
  margin-left: 15%;
  width: 510px;
  color: #002e5b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  border: solid;
  justify-content: center;
}

textarea {
  width: 380px;
  height: 150px;
  background: #002e5b;
  border: 2px solid #f6f6f6;
  padding: 10px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu {
  height: 50%;
  background-size: cover;
  background-color: #fff;
  margin-left: 50%;
  margin-right: 50%;
}

nav {
  position: absolute;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #179ce9;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
nav a:hover {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  opacity: 0.5;
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: auto;
  }
  100% {
    width: 0;
    left: auto;
    right: aut;
  }
}

.body_index {
  background-image: url("images/beach.jpg");
  background-size: 100% 100%;
}

h1 {
  margin: 15px auto;
  align-items: center;
  display: table;
  font-size: 24px;
  color: #e735aa;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  text-decoration-style: solid;
}

h1 span {
  font-weight: 500;
}

h2 {
  margin-top: 5%;
  margin-left: 10px;
  display: flex;
  font-size: 16px;
  color: #179ce9;
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p {
  margin-top: 5%;
  margin-left: 2%;
  text-align: justify;
  font-size: 14px;
  color: #179ce9;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-top: 10%;
  text-align: justify;
  font-size: 14px;
  color: #179ce9;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #179ce9;
  margin-top: 8px;
  border: none;
  color: white;
  width: 130px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  align-content: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 33%;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: #179ce9;
  opacity: 0.8;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.contenedor {
  /*float: left;
  width: 33%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}

.contenedor-bparties {
  margin-top: 0px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 200px repeat(2, 1fr);
  grid-template-rows: auto 1px 250px 250px;
  grid-gap: 1rem;
  margin-left: 15%;
}

.bparties-a {
  grid-area: 3 / 1 / span 2 / span 1;
  background-color: #e735aa;
}
.bparties-a img {
  width: 250px;
  height: 516px;
}
.bparties-b {
  grid-area: 3 / 2 / span 1 / span 1;
  background-color: aqua;
}
.bparties-b img {
  width: 250px;
  height: 250px;
}
.bparties-c {
  grid-area: 4 / 2 / span 1 / span 1;
  background-color: brown;
}
.bparties-c img {
  width: 250px;
  height: 250px;
}
.bparties-textblock {
  grid-area: -3 / -4 / span 2 / span 2;
  background-color: white;
}

.contenedor-excursions {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 200px repeat(2, 1fr);
  grid-template-rows: auto 1px 200px 200px;
  grid-gap: 1rem;
  margin-left: 15%;
}
.excursions-a {
  grid-area: 3 / 1 / span 2 / span 1;
  background-color: #e735aa;
}
.excursions-a img {
  width: 250px;
  height: 416px;
}
.excursions-b {
  grid-area: 3 / 2 / span 1 / span 1;
  background-color: aqua;
}
.excursions-b img {
  width: 250px;
  height: 200px;
}
.excursions-c {
  grid-area: 4 / 2 / span 1 / span 1;
  background-color: brown;
}
.excursions-c img {
  width: 250px;
  height: 200px;
}
.excursions-textblock {
  grid-area: -3 / -4 / span 2 / span 2;
  background-color: white;
}

.navigation {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #179ce9;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  padding-top: 0px;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  margin-top: 30px;
  text-align: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.menulist {
  width: 200px;
}

.line1,
.line2,
.line3 {
  margin-top: 5px;
  background-color: #fff;
  width: 25px;
  height: 3px;
  display: block;
  position: relative;
  opacity: 1;
  border-radius: 15%;
  transition: all 0.3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity: 0;
  background-color: white;
  top: 5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color: white;
}

.line3.active {
  transform: rotate(-45deg);
  background-color: white;
  top: -7px;
}

.menuitems {
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 200px;
}

.menuitems:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.2s;
}

.menuitems:hover::after {
  width: 100%;
}

#closebtn {
  height: 25px;
  width: 25px;
  position: absolute;
  text-decoration: none;
  top: 10px;
  left: 25px;
  font-size: 14px;
  margin-right: 50px;
  z-index: 100;
  color: #fff;
  cursor: pointer;
  transition: background-position 0.3s;
}

#topNav {
  display: none;
}

@media screen and (max-width: 927px) {
  section {
    margin-top: 50px;
    width: 100%;
    /* background-color: aqua; */
  }
  nav {
    display: none;
  }
  .logo {
    display: none;
  }
  #topNav {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  section {
    margin-top: 50px;
    width: 100%;
  }
  nav {
    display: none;
  }
  .logo {
    display: none;
  }
  #topNav {
    display: block;
  }
}

.contenedor_animation {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  width: auto;
}

.animacion {
  width: 100%;
  height: 320px;
  background-image: url(img/background.png);
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 1450px;
  height: 300px;
  display: inline-block;
  animation-name: nubesAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: nubesAnimation;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.bg1 {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 720px;
}

.bg2 {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 720px;
}

.nube1 {
  position: absolute;
  left: 50px;
  top: 10px;
  display: inline-block;
}

.nube2 {
  position: absolute;
  left: 325px;
  top: 80px;
  display: inline-block;
}

.nube3 {
  position: absolute;
  left: 550px;
  top: 0px;
  display: inline-block;
}

.barco {
  position: relative;
  width: 250px;
  height: 250px;
  top: 50px;
  left: 0px;

  -webkit-animation-name: barcoAnimation;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: barcoAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#barcoimg {
  position: absolute;
  top: 25px;

  -webkit-animation-name: entradaAnimation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: entradaAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#aguafondo {
  position: absolute;
  background-image: url(img/agua-fondo.png);
  background-repeat: repeat-x;
  z-index: 4;
  width: 775px;
  height: 84px;
  left: -22px;
  top: 250px;

  animation-name: aguaAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  -webkit-animation-name: aguaAnimation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

#agua {
  position: absolute;
  background-image: url(img/agua-frente.png);
  background-repeat: repeat-x;
  z-index: 5;
  width: 775px;
  height: 158px;
  left: -25px;
  top: 250px;

  animation-name: aguaAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;

  -webkit-animation-name: aguaAnimation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
}

-webkit-@keyframes nubesAnimation {
  from {
    left: 0px;
  }
  to {
    left: -720px;
  }
}

@keyframes nubesAnimation {
  from {
    left: 0px;
  }
  to {
    left: -720px;
  }
}

-webkit-@keyframes entradaAnimation {
  from {
    left: -150px;
  }
  to {
    left: 10px;
  }
}

@keyframes entradaAnimation {
  from {
    left: -150px;
  }
  to {
    left: 10px;
  }
}

-webkit-@keyframes barcoAnimation {
  0% {
    top: 55px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 55px;
  }
}

@keyframes barcoAnimation {
  0% {
    top: 55px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 55px;
  }
}

-webkit-@keyframes aguaAnimation {
  0% {
    top: 250px;
    left: -25px;
  }
  50% {
    top: 257px;
    left: -22px;
  }
  100% {
    top: 250px;
    left: -18px;
  }
}

@keyframes aguaAnimation {
  0% {
    top: 250px;
    left: -25px;
  }
  50% {
    top: 257px;
    left: -22px;
  }
  100% {
    top: 250px;
    left: -18px;
  }
}

-webkit-@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*FOOTER*/

footer {
  background: -webkit-linear-gradient(59deg, #179ce9, #0a6599);
  background: linear-gradient(59deg, #179ce9, #0a6599);
  color: white;
  margin-top: 0px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 1em;
  color: white;
}

/*Social Icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoInstagram:hover {
  background-color: #f56040;
}

.social-network a.icoYouTube:hover {
  background-color: red;
}
.social-network a.icoFacebook:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoYouTube:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}
.row p {
  margin-top: 10px;
  color: white;
}

/*Carousel*/

.container_carousel {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container_carousel {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container_carousel {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container_carousel {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container_carousel {
    max-width: 1140px;
  }
}

.row_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.ftco-section {
  padding: 2em 0;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 1;
}
.owl-carousel .owl-item.active {
  opacity: 1;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0;
  color: white !important;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
}
@media (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 30px;
}
.owl-carousel .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel .owl-nav .owl-next {
  right: 20px;
}
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 0;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
}
.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}
.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}
.owl-carousel .owl-dots .owl-dot.active {
  background: #ff5959;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.work {
  width: 100%;
}
.work .img {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
}
.work .img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}
.work .img .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  display: block;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .work .img .icon {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.work:hover .img .icon {
  opacity: 1;
}
